
body {
  margin: 0;
  
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
html {
  overflow-y: scroll;
}

a:-webkit-any-link {
  text-decoration: none;
  
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}